<div class="daily-weather">
  <p><%= button_to t(".today"), {:controller => "weather", :action => "today"}, {method: :get, class: "today"} %></p>
  <p><%= button_to t(".tomorrow"), {:controller => "weather", :action => "tomorrow"}, {method: :get, class: "tomorrow"} %></p>
</div>

<section class="weather-info">
<dl class="weather-info-contents">
  <div class="weather-info-item"><dt class="locate-city"><%= t(".locate") %>:</dt></div>
  <div class="weather-info-description"><dd class="locate-city"><%= "#{@locate_prefecture}\n" %></dd><dd class="locate-city"><%= @locate_city %></dd></div>
  <div class="weather-info-item"><dt class="weather"><%= t(".weather") %>:</dt></div>
  <div class="weather-info-description"><dd class="weather"><%= @weather %></dd></div>
  <div class="weather-info-item"><dt class="weather-img"> <%= t(".weather_image") %>:</dt></div>
  <div class="weather-info-description"><dd class="weather-img"><img src="<%= @weather_image %>"></dd></div>
  <div class="weather-info-item"><dt class="celsius-max"><%= t(".celsius_max") %>:</dt></div>
  <div class="weather-info-description"><dd class="celsius-max"><%= @celsius_max %></dd></div>
  <div class="weather-info-item"><dt class="celsius-min"><%= t(".celsius_min") %>:</dt></div>
  <div class="weather-info-description"><dd class="celsius-min"><%= @celsius_min %></dd></div>
</dl>
</section>
