<div class="daily-weather">
  <p><%= button_to t(".today"), {:controller => "weather", :action => "today"}, {method: :get, class: "today"} %></p>
  <p><%= button_to t(".tomorrow"), {:controller => "weather", :action => "tomorrow"}, {method: :get, class: "tomorrow"} %></p>
</div>

<div class="weather-info">
  <p class="locate_city"><%= t(".locate") %>: <%= @locate_prefecture %><%= @locate_city %></p>
  <p class="weather"><%= t(".weather") %>: <%= @weather %></p>
  <p class="weather_img"> <%= t(".weather_image") %>: <img src="<%= @weather_image %>"></p>
  <p class="celsius_max"><%= t(".celsius_max") %>: <%= @celsius_max %></p>
  <p class="celsius_min"><%= t(".celsius_min") %>: <%= @celsius_min %></p>
</div>
